---
---
{% include fragment-pagebegin.html %}
<div class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='CodeSystem' id='argo-group-characteristic' active='content' %}
  <a name="root"> </a>
  <h2 id="root">CodeSystem: {{site.data.pages[page.path].title}}</h2>

  <!-- insert intro if present -->
  {% include fragment-intro.html type='CodeSystem' id='argo-group-characteristic' %}

  <p>
    <b>Summary</b>
  </p>

  {% include CodeSystem-argo-group-characteristic-summary.xhtml %}

  <p>
  This Code system is referenced in the content logical definition of the following value sets:
  </p>

  {% include CodeSystem-argo-group-characteristic-xref.xhtml %}

  {% include CodeSystem-argo-group-characteristic-content.xhtml %}

  <!-- insert notes if present -->
  {% include fragment-notes.html type='CodeSystem' id='argo-group-characteristic' %}

  {%include CodeSystem-argo-group-characteristic-history.xhtml%}

</div>
{% include fragment-pageend.html %}
