---
---
<!-- get modelType -->
{% include fragment-modelType.html id='patientlist-questionnaire' %}

{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-profile-navtabs.html type='StructureDefinition' id='patientlist-questionnaire' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{modelType}}: PatientListQuestionnaire - Change History</h2>
  <p>Changes in the patientlist-questionnaire {{modelType | downcase}}.</p>

  {%include StructureDefinition-patientlist-questionnaire-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
