---
---
<!-- get modelType -->
{% include fragment-modelType.html id='patientlist-questionnaireresponse' %}

{% include fragment-pagebegin.html %}
<div style="counter-reset: section 4" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-profile-navtabs.html type='StructureDefinition' id='patientlist-questionnaireresponse' active='definition' %}

<a name="root"> </a>
<h2 id="root">{{modelType}}: PatientListQuestionnaireResponse - Detailed Descriptions</h2>

<p>Definitions for the patientlist-questionnaireresponse {{modelType | downcase}}.</p>

  <!-- insert intro if present -->
  {% include fragment-intro.html type='StructureDefinition' id='patientlist-questionnaireresponse' %}

  {%include StructureDefinition-patientlist-questionnaireresponse-dict.xhtml%}

  <!-- insert notes if present -->
  {% include fragment-notes.html type='StructureDefinition' id='patientlist-questionnaireresponse' %}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
